<div class="card">
  {% if current_page == "About"%}
  <h1 class="title">About
  </h1>
  {% else %}
  <h2 class="section-title">
    <a class="arrow" href="{{ url_for('about')}}">About
    </a>
  </h2>
  {% endif %}

  <div class="inner-card">
    
    <h2>8 cities across 4 countries</h2>

    🇮🇳 India: New Delhi. Mumbai. <br><br>

    🇧🇭 Bahrain: Manama. <br><br>

    🇵🇭 Philippines: Manila. <br><br>

    🇺🇸 USA: Chicago. Tampa. New York. SF Bay Area (presently). <br><br>
    
    <h2>Perpetual learner. </h2>
    
    Data Geek 📊, Product Builder 🖥️  and now People Leader 👥
  
    <h3>Stanford University <img src="{{url_for('static', filename='stanford-logo.jpeg')}}", style="width: 35px; float:right" /> </h3>
    
    <u>MBA:</u> Alongside my inspiring classmates, I learned about leadership, product management & entrepreneurship. It prepared me to make my mark on the world.

    <h3>University of Chicago <img src="{{url_for('static', filename='uchicago-logo.jpeg')}}", style="height: 35px; float:right"  /> </h3>
    <u>BA:</u> Double majored in Statistics and Economics. I became a data geek, immersing into data science and machine learning.

    <h2>Work experience</h2>

    <h3>Impact <img src="{{url_for('static', filename='impact-logo.jpeg')}}", style="height: 35px; float:right"  /> </h3>
    <u>Co-Founder:</u> Proudly led a product / engineering team to build the first NFT fundraising platform for philanthropy facilitating $50K+ in NFT sales. We are no longer active due to scaling issues.

    <h3>Zillow <img src="{{url_for('static', filename='zillow-logo.png')}}", style="height: 35px; float:right"  /> </h3>
    <u>Product Manager:</u> The next time Zillow automatically suggests a home you love, you can think of me. I worked on AI-personalized home recommendations for first-time home buyers. 


    <h3>Zest AI <img src="{{url_for('static', filename='zest-ai-logo.jpeg')}}", style="height: 35px; float:right"  /> </h3>
    <u>Product Manager:</u> Helped banks and credit unions make AI-driven lending decisions. This makes consumer lending fairer and more transparent, which is very important to me.

    <h3>PayPal <img src="{{url_for('static', filename='paypal-logo.png')}}", style="height: 35px; float:right"  /> </h3>
    <u>Senior Product Analyst:</u> Advised senior product, sales and marketing leadership on strategic decisions to better serve PayPal customers.

    <h2>Skills</h2>
    <img src="{{url_for('static', filename='PM-skills.png')}}", style="width: 100%; float:left"  />
    <img src="{{url_for('static', filename='Software-skills-new.png')}}", style="width: 100%; float:left"  />
    <img src="{{url_for('static', filename='DS-skills.png')}}", style="width: 100%; float:left"  />


  </div>
</div>
