<div class="card cf">
    {% if current_page == "My work"%}
    <h1 class="title">Projects
    </h1>
    {% else %}
    <h2 class="section-title">
        <a class="arrow" href="{{ url_for('mywork')}}">Projects</a>
    </h2>
    {% endif %}
    
    <div class="inner-card">
         For an overview of my formal education and work experiences, see <a href="{{ url_for('about')}}">About</a>.
        <h2>Building</h2>
        <h4>Cardinal DAO (2022)</h4>
        <h4>WiiQare (2021)</h4>
        <h4>Healthier Finance (2020)</h4>

        <h2>Speaking</h2>
        <h4>Qual360 North America (2021)</h4>
        <h4>DATAx San Francisco (2020)</h4>
        <h4>Competitive and Market Intelligence Conference (2019)</h4>

        <h2>Writing</h2>
        <h4>White Paper: ESG DeFi (2021)</h4>
        <h4>Article: We might never need Bitcoin or Ethereum. But what about Cardano?</h4>
    
    </div>
</div>