<div class="card cf">
    {% if current_page == "My work"%}
    <h1 class="title">Projects
    </h1>
    {% else %}
    <h2 class="section-title">
        <a class="arrow" href="{{ url_for('mywork')}}">Projects</a>
    </h2>
    {% endif %}
    
    <div class="inner-card">
         For an overview of my formal education and work experiences, see <a href="{{ url_for('about')}}">About</a>. My personal projects include but are not limited to:
         
         <a href = "#startups"><h4>Startups</h4></a>

         <ul>
            <li><a href = "#redwood">Redwood DAO</a></li>
            <li><a href = "#wiiqare">WiiQare</a></li>
            <li><a href = "#healthierfinance">Healthier Finance</a></li>
        </ul>
        <a href = "#technology"><h4>Technology</h4></a>

        <ul>

            <li><a href = "#rpi">Raspberry Pi Network Attached Storage</a></li>
            <li><a href = "#website">Personal Website in Python Flask and GCP</a></li>
         </ul>

        <h2 id="startups">Startups</h2>
        <h4 id="redwood">Redwood DAO (2022)</h4>
        At Stanford, I co-founded Redwood DAO, a web3 investment syndicate comprised only of Stanford students. We use a Gnosis Multisign wallet to collectively invest our pool of $50K in early web3 startups via public token sales.
        <figcaption>I run an exclusive Discord community with 25+ crypto professionals</figcaption>
        <img src="{{url_for('static', filename='redwood-dao.png')}}", style = "width: 100%"/>

        <h4 id="wiiqare">WiiQare (2021)</h4>
        I spent 3 months advising the founder of a FinTech app in Central Africa on all matters relating to fundraising and product strategy.
        <figcaption>WiiQare's website for consumers</figcaption>
        <img src="{{url_for('static', filename='wiiqare.png')}}", style = "width: 100%"/>


        <h4 id="healthierfinance">Healthier Finance (2020)</h4>
        In the height of the pandemic, I formed a team of students to build a one-stop shop website for California residents to find financial resources to support economic recovery.

        <h2 id="technology">Technology</h2>
        <h4 id="rpi">Self-hosted Home Raspberry Pi Server running Linux and Docker (2022)</h4>
        I spent a good month obsessed with learning about the raspberry pi and it's potential DIY applications. I settled on what I thought would be incredibly fun - turning it into a low-power mini-server in my apartment that hosts media content, among other things. I installed the Raspberry Pi OS (Linux Debian 11) and then used Docker / Portainer to install apps like Plex. I also enabled a file browser and a VPN server which are handy tools for my home network. 
        
        <figcaption>Running a Plex Media Server on my LAN</figcaption>
        <img src="{{url_for('static', filename='plex.png')}}", style = "width: 100%"/>

        <figcaption>Raspberry Pi 4 B</figcaption>
        <img src="{{url_for('static', filename='rpi4.jpeg')}}", style = "width: 100%"/>


        <h4 id="website">Personal Website: Gbose.me (2022)</h4>
        I built this website (www.gbose.me) using Python Flask and am hosting it on GCP App Engine. 


    
    </div>
</div>